---
import AppShell from "../../layouts/AppShell.astro";
import GitHubActivity from "../../components/GitHubActivity.astro";
---

<AppShell activePath="/activity" pageTitle="Activity | mundeimmaculate.vercel.app" pageDescription="GitHub activity feed">
  <div class="p-5">
    <GitHubActivity showHeader={true} />
  </div>
</AppShell>